@import 'config';

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid $light-color;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}